<a href="https://www.kaggle.com/code/mcsadri/linear-regresssion?scriptVersionId=127864822" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

### Linear Regression with sklearn

**Author**: [Manuch S.](https://github.com/mcsadri)  
**Input**: [2,2k+ Scotch Whisky Reviews](https://www.kaggle.com/datasets/koki25ando/22000-scotch-whisky-reviews): a dataset including 2,2k+ Scotch Whisky reviews (originally collected from the Whisky Advocate database.

#### Overview

Performing exploratory analysis by using Linear Regressions on a Kaggle data set.

#### Feature Tasks and Requirements

- [ ] Select a Kaggle data set that is suitable for Linear Regression.
    - Note make sure the data set is stored as csv file/s.
    - Data set must be continous values appropriate for a Linear Regression. If you’re not sure then ask Instructor or TA.
- [ ] Load the data you receive into a Pandas DataFrame.
- [ ] Show the first five rows of the data set.
- [ ] Show the description and the info of the data set.
- [ ] Ensure that any date columns have been cast into a datetime object in your DataFrame.
- [ ] Using a regression model, split your data into train and test portions.
- [ ] Fit your training split to the regression model.
- [ ] Show your regression model’s score.
- [ ] Draw at least three conclusions from your regression model.
- [ ] Your notebook should be clutter free and polished.

#### UAT

No acceptance tests today, but Notebook should clearly display its conclusions.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import re
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/22000-scotch-whisky-reviews/scotch_review.csv

### Read data file and get info() and shape() for the raw DataFrame

In [2]:
raw_df = pd.read_csv("/kaggle/input/22000-scotch-whisky-reviews/scotch_review.csv")
print("The raw DataFrame's information is:")
print("")
raw_df.info()
print("")
print("")
print(f"The raw DataFrame's shape is:, {np.shape(raw_df)}")
print()

The raw DataFrame's information is:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2247 non-null   int64
 1   name          2247 non-null   object
 2   category      2247 non-null   object
 3   review.point  2247 non-null   int64
 4   price         2247 non-null   object
 5   currency      2247 non-null   object
 6   description   2247 non-null   object
dtypes: int64(2), object(5)
memory usage: 123.0+ KB


The raw DataFrame's shape is:, (2247, 7)

### Validate which currencies are present in the DataFrame (so we can scrub any non-$ later, if needed)

In [3]:
currency_types = raw_df['currency'].value_counts().sort_values(ascending=False)
currency_types

$    2247
Name: currency, dtype: int64

### Create new DataFrame with only review.point and price columns. Reformat price data so it can be converted to int. Remove index 19 as an incompatible data point.

In [4]:
series_price = raw_df.price.str.replace("[({',$/qwertyuioplkjhgfdsazxcvbnm%:]", "")
series_price = series_price.drop(19)
series_price = series_price.astype(float).astype(int)

series_review = raw_df['review.point']
series_review = series_review.drop(19)

df = pd.concat([series_review, series_price], axis = 1)

df.info()

df.head(50)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2246 entries, 0 to 2246
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   review.point  2246 non-null   int64
 1   price         2246 non-null   int64
dtypes: int64(2)
memory usage: 52.6 KB

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

    review.point  price
0             97    225
1             97   4500
2             97  13500
3             96    325
4             96    160
5             96     85
6             96   6250
7             96  11000
8             96   1500
9             96   3360
10            96    750
11            96   1500
12            96   3108
13            95    105
14            95    120
15            95   3500
16            95     70
17            95  20000
18            95     70
20            95  26650
21            95    400
22            95    200
23            95    400
24            95    455
25            95    750
26            95    200
27            95    460
28            95   2525
29            95   1250
30            95    280
31            95    500
32            95    215
33            95    300
34            95    400
35            95   2000
36            95   4000
37            94    225
38            94     60
39            94    180
40            94    300
41            94   3500
42            94    120
43            94    181
44            94  20000
45            94    800
46            94    250
47            94    500
48            94   6000
49            94  30000
50            94    645